
.wrapper{width:970px;margin:0 auto 0 auto;}
.right{float:right}
.left{float:left}
.clear{clear:both}
/*footer*/
#footer .wrapper{margin-top:10px;border-top:1px dashed gray}
#footer {padding:5px;}
#footer p{line-height:9px;}
h1.title{font:28px/.5em "Segan"!important;color:#fff}

.error{box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);padding:9px 5px;border:1px solid red;border-radius:3px;background:#ff0000;color:#fff!important}
.success{color:white;border:1px solid green;background:rgb(99,155,56);padding:9px 5px;border-radius:3px;}