body{margin:0;font:12px/1em "Arial";}
/*Admin header*/
#header{background:#81c59e url('../images/admin.jpg')no-repeat center top;color:#fff}
#header h1{font:24px/.5em "Segan"}
#header a{margin:1px}
/*admin menu*/
#con-menu{background:url('../images/menu_bg.jpg')repeat-x;height:40px;margin:0;}
#dash-b{padding:0;margin:0}
#dash-b li{display:inline-block}


#guest-menu{padding:0;margin:0}
#guest-menu li {display:inline-block;text-align:left;padding-top:13px}
#guest-menu li a{margin:5px;text-decoration:none;color:#fff;font:14px/1em "Segan"}
.minh{min-height:550px}
#title{font:24px/1em "Segan"}
#title span{font:18px/1em "Segan";color:green}
.noti{position:absolute;margin:2px;padding:2px;top:-5px;border-radius:2px;background:red;color:#fff;box-shadow: 0 0 3px gray}
#menu-con{background:url('../images/header.jpg');padding:7px 0;box-shadow:1px 0 3px gray}
.l-input{width:280px;height:25px;border:1px solid gray;font:14px "Arial"}
.sli{padding-left:10px;font:bold 12px 'Arial'}

/*Table Grid*/
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
.datagrid table  a{margin:1px!important} 
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 3px solid #006699; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.datagrid table td, .datagrid table th { padding: 6px 4px; }
.datagrid table td:last-child, .datagrid table th:last-child {width:120px}
.datagrid table td:first-child, .datagrid table th:first-child {width:50px;border-right:1px solid white;text-align:center}
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 13px; font-weight: bold; border-left: 1px solid #0070A8; }
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #00557F; font-size: 12px;font-weight: normal; }
.datagrid table tbody .alt td { background: #E1EEf4; color: #00557F; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEf4;} 
.datagrid table tfoot td { padding: 0; font-size: 12px } 
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}
.datagrid table tr .jtr{width:200px!important;text-align:left}
.thebox{background:#fff;padding:20px;box-shadow:0 1px 3px gray;}
.title2{font:18px/1em 'Arial'}
.department{width:120px!important;}
.thebox input[type='text'],.dropdown{height:25px;font:bold 14px/1em "Arial"}
.inp-search{width:250px}
.tbl-inpt tr td{padding:3px 0;padding-right:5px}
#bnfts{padding:0}
#bnfts li{list-style:none;padding:5px 0}
.action-con{padding:20px;box-shadow:0 1px 3px gray;background:#fff url('../images/stripe.png')}
fieldset{padding:20px;margin-top:30px;width:260px;border:1px solid #e9e9e9;margin-right:50px}
p.add_success{padding:12px 9px;color:green;border:1px solid green;border-radius:5px;background:#cbffd0}
input.chp{width:250px;height:30px;border:1px solid gray;font:14px/1em "Arial"}
#info_form{border-bottom:2px dashed gray;padding-bottom:20px;margin-bottom:20px}
.f-box{border:1px solid #b6b6b6;padding:20px}
.no-b{border:0;background:#f7f7f7;font:bold 18px/1em "Arial"!important;padding:0}
.cstm-t tr td{text-align:center;padding:5px 5px;border-bottom:1px solid rgb(220,220,220);}
.cstm-t tr:hover{background:#ececec}
.cstm-t tbody{border:1px solid red}
.addn{width:380px;padding:20px;border:1px solid #b6b6b6;}
.addn h1{color:#000}
#depdiv{width:450px}
#lefnav{width:230px;text-align:center}
#sttngs{width:690px}
.inp-small{width:205px}
#myModal2 a{margin-right:3px!important}
.to_mfinp{height:30px;font:bold 13px 'Arial';margin-right:9px}
.datagrid table p{margin:0}
